body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}
H1{
    font-size: 50px;
}
.Span1{color: orange;}
.Flexible-Contianer{
    display: flex;
    margin-bottom: 100px;
}
.Half-Widght{
    width: 50%;
    padding-left: 3%;
}
.Half-Widght img{
    width: 70%;
}
.LinkButton{
    color: white;
    text-decoration: none;
  background-image: linear-gradient(Orange, tomato);
    padding: 10px 40px;
    border-radius: 5px;
    font-weight: 400;
}.top-banner{background-image: url(img/top-banner.png);
background-repeat: no-repeat;}

}
.Dream-Big{
    background-image: url(img/dream-bg.png);
    background-position: right;
}
.Experience-Div{
    box-shadow: 10px 10px 40px gray;
    width: 40%;
margin-left: 5%;
margin-right: 5%;
padding-left: 10px;
border-radius: 10px;
}
h2{font-size: 40px;}
.Experience-Area{
    background-image: url(img/exp-bg.png)
    ;
    background-repeat: no-repeat;
    background-position: left;
    
}
#Baby-Web{
    border-left: 7px solid ; 
border-image: Linear-Gradient(Blue,cyan);
border-image-slice: 1;

}
#Full-Stack{
border-left: solid 7px;
border-image: linear-gradient(red,Orange);
border-image-slice: 1;
}
footer{text-align: center;}